<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>На каждый день</string>
		<key>appstore_id</key>
		<string>1061995194</string>
		<key>description</key>
		<string>Пакет из 4 приложений на каждый день</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string></string>
		<key>in_review</key>
		<false/>
		<key>available</key>
		<true/>
		<key>url</key>
		<string>https://itunes.apple.com/ru/app-bundle/na-kazdyj-den/id1061995194?mt=8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Автомобильный пакет</string>
		<key>appstore_id</key>
		<string>1061993909</string>
		<key>description</key>
		<string>Приложения для автомобилистов: антирадар и поиск автомобиля на парковке</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string></string>
		<key>in_review</key>
		<false/>
		<key>available</key>
		<true/>
		<key>url</key>
		<string>https://itunes.apple.com/ru/app-bundle/avtomobil-nyj-paket/id1061993909?mt=8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Слежка для ВКонтакте</string>
		<key>appstore_id</key>
		<string>1055100571</string>
		<key>description</key>
		<string>Хочешь всегда знать, кого добавила в друзья твоя девушка? Или кого удалил из друзей ВК твой парень? Твой начальник, кумир или одногруппник? &quot;Локатор друзей&quot; поможет тебе всегда оставаться в курсе событий!</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string>com.maximsemenov.friends-locator</string>
		<key>in_review</key>
		<false/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>VIN-коды – проверь авто на угон</string>
		<key>appstore_id</key>
		<string>11111111</string>
		<key>description</key>
		<string>тут будет описание</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string>com.maximsemenov.vincodes</string>
		<key>in_review</key>
		<false/>
		<key>available</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Контроль скорости – сэкономь на штрафах ГИБДД с цифровым GPS спидометром</string>
		<key>appstore_id</key>
		<string>1052713630</string>
		<key>description</key>
		<string>– Экономьте на штрафах ГИБДД с нашим Антирадаром;
– Установите контроль скорости и приложение предупредит при превышении скорости;
– Замерьте ускорение вашего авто с помощью телефона. Новая продвинутая технология использует связку GPS и акселерометра для измерения ускорения;
– Один из самых красивый спидометров для iOS.</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string>com.maximsemenov.Speedometer</string>
		<key>in_review</key>
		<false/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Где мое авто – найти машину на парковке, в лесу и в городе</string>
		<key>appstore_id</key>
		<string>1052721252</string>
		<key>description</key>
		<string>Паркуйтесь, где и когда угодно – даже в незнакомом месте! &quot;Где мое авто&quot; всегда поможет выйти из неприятной ситуации и найти авто, где бы оно ни находилось.</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string>com.maximsemenov.car-detector</string>
		<key>in_review</key>
		<false/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Блокировщик рекламы для браузера – заблокируй рекламу в своем Safari</string>
		<key>appstore_id</key>
		<string>1052718774</string>
		<key>description</key>
		<string>Блокируйте рекламу на своих любимых сайтах, наслаждайтесь контентом без рекламы!</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string>com.maximsemenov.adblocker</string>
		<key>in_review</key>
		<false/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Гости из ВКонтакте</string>
		<key>appstore_id</key>
		<string>1046894608</string>
		<key>description</key>
		<string>Хочешь знать, кто заходил на твою страницу ВКонтакте? Например, твой бывший парень, девушка, твой начальник или таинственный незнакомец? Мы разработали уникальный алгоритм, который с высокой точностью определит, кто посещал твою страничку VK.</string>
		<key>account</key>
		<string>softeam</string>
		<key>bundleId</key>
		<string>com.softeam.guests</string>
		<key>in_review</key>
		<false/>
		<key>available</key>
		<false/>
	</dict>
</array>
</plist>
