<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Контакт для ВКонтакте</string>
		<key>appstore_id</key>
		<string>1090754155</string>
		<key>description</key>
		<string>Лучший клиент для ВКонтакте. Бесплатно.</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string>com.maximsemenov.kontact</string>
		<key>in_review</key>
		<false/>
		<key>available</key>
		<true/>
		<key>show_in_kontakt</key>
		<true/>
		<key>url</key>
		<string>https://appmetrica.yandex.com/serve/96526752800634863</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Бесплатные лайки для Instagram</string>
		<key>appstore_id</key>
		<string>1124820346</string>
		<key>description</key>
		<string>Получи тысячи реальных подписчиков и лайков в Instagram!</string>
		<key>account</key>
		<string>fedor</string>
		<key>bundleId</key>
		<string>com.fedorlukin.instanakrutka</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Гости для Инстаграм</string>
		<key>appstore_id</key>
		<string>1141356651</string>
		<key>description</key>
		<string>Узнай, кто заходил на твою страницу в Instagram!</string>
		<key>account</key>
		<string>gulin</string>
		<key>bundleId</key>
		<string>com.viktorgulin.instaguestspaid</string>
		<key>in_review</key>
		<true/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Накрутка для ВКонтакте</string>
		<key>appstore_id</key>
		<string>1061394833</string>
		<key>description</key>
		<string>Бесплатно накрути тысячи реальных подписчиков и лайков!</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string>com.maximsemenov.generator</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Secrets for Pokemon GO</string>
		<key>appstore_id</key>
		<string>1135901178</string>
		<key>description</key>
		<string>Секреты, прохождение, советы и многое другое для популярной игры!</string>
		<key>account</key>
		<string>gulin</string>
		<key>bundleId</key>
		<string>com.viktorgulin.pokeguides</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Гости ВКонтакте</string>
		<key>appstore_id</key>
		<string>1046894608</string>
		<key>description</key>
		<string>Узнай, кто заходил на твою страницу ВКонтакте!</string>
		<key>account</key>
		<string>softeam</string>
		<key>bundleId</key>
		<string>com.softeam.guests</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Слежка для Instagram</string>
		<key>appstore_id</key>
		<string>1114314197</string>
		<key>description</key>
		<string>Установи СЛЕЖКУ за своими подписчиками!</string>
		<key>account</key>
		<string>fedor</string>
		<key>bundleId</key>
		<string>com.fedorlukin.instalocator</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Слежка для ВКонтакте</string>
		<key>appstore_id</key>
		<string>1055100571</string>
		<key>description</key>
		<string>Скачай локатор и узнай, кого добавила в друзья твоя девушка или парень!</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string>com.maximsemenov.friends-locator</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Гости фото для ВКонтакте</string>
		<key>appstore_id</key>
		<string>1110835048</string>
		<key>description</key>
		<string>Узнай, кто просматривал твои фотки во ВКонтакте!</string>
		<key>account</key>
		<string>fedor</string>
		<key>bundleId</key>
		<string>com.fedorlukin.photoguests</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>На каждый день</string>
		<key>appstore_id</key>
		<string>1061995194</string>
		<key>description</key>
		<string>Пакет из 4 приложений на каждый день</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string></string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<false/>
		<key>url</key>
		<string>https://itunes.apple.com/ru/app-bundle/na-kazdyj-den/id1061995194?mt=8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Плеер ВТакте</string>
		<key>appstore_id</key>
		<string>1055369467</string>
		<key>description</key>
		<string>Легендарный музыкальный плеер для ВКонтакте возвращается</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string>com.maximsemenov.vtakte</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Проверка VIN кода автомобиля через базу ГИБДД и ГАИ</string>
		<key>appstore_id</key>
		<string>1063251125</string>
		<key>description</key>
		<string>Покупаете машину &quot;с рук&quot;? Проверьте VIN-код автомобиля!</string>
		<key>account</key>
		<string>semenov</string>
		<key>url</key>
		<string>https://itunes.apple.com/ru/app/proverka-vin-koda-avtomobila/id1063251125?l=ru&amp;ls=1&amp;mt=8</string>
		<key>bundleId</key>
		<string>com.maximsemenov.vin-codes</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Контроль скорости – сэкономь на штрафах ГИБДД с цифровым GPS спидометром</string>
		<key>appstore_id</key>
		<string>1052713630</string>
		<key>description</key>
		<string>Экономьте на штрафах ГИБДД с нашим Антирадаром!</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string>com.maximsemenov.Speedometer</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Где мое авто – найти машину на парковке, в лесу и в городе</string>
		<key>appstore_id</key>
		<string>1052721252</string>
		<key>description</key>
		<string>Найди свою машину, где бы она ни находилась!</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string>com.maximsemenov.car-detector</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Блокировщик рекламы для браузера – заблокируй рекламу в своем Safari</string>
		<key>appstore_id</key>
		<string>1052718774</string>
		<key>description</key>
		<string>Блокируйте рекламу на своих любимых сайтах, наслаждайтесь контентом без рекламы!</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string>com.maximsemenov.adblocker</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Гости ВКонтакте PRO</string>
		<key>appstore_id</key>
		<string>1074859831</string>
		<key>description</key>
		<string>Узнай всех скрытых гостей своей страницы бесплатно!</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string>com.maximsemenov.guests</string>
		<key>in_review</key>
		<false/>
		<key>available</key>
		<true/>
		<key>show_in_kontakt</key>
		<true/>
		<key>url</key>
		<string>https://appmetrica.yandex.com/serve/312713783099293070</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Фотогости для ВКонтакте PRO</string>
		<key>appstore_id</key>
		<string>1110836655</string>
		<key>description</key>
		<string>Узнай, кто просматривал твои фотки во ВКонтакте бесплатно!</string>
		<key>account</key>
		<string>fedor</string>
		<key>bundleId</key>
		<string>com.fedorlukin.photoguests.pro</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Автомобильный пакет</string>
		<key>appstore_id</key>
		<string>1061993909</string>
		<key>description</key>
		<string>Приложения для автомобилистов: антирадар и поиск автомобиля на парковке</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string></string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
		<key>url</key>
		<string>https://itunes.apple.com/ru/app-bundle/avtomobil-nyj-paket/id1061993909?mt=8</string>
	</dict>
</array>
</plist>
