<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vk_app_id</key>
	<string>5439967</string>
	<key>nakrutka_vk_app_id</key>
	<string>5439967</string>
	<key>photoguests_vk_app_id</key>
	<string>5439961</string>
	<key>instalocator_app_id</key>
	<string>37cc49aeeed4494993dc6c75ad89bdd4</string>
	<key>instalocator_redirect_url</key>
	<string>ig37cc49aeeed4494993dc6c75ad89bdd4://authorize</string>
</dict>
</plist>
