<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>50_likes</key>
	<integer>29</integer>
	<key>100_likes</key>
	<integer>49</integer>
	<key>200_likes</key>
	<integer>99</integer>
	<key>500_likes</key>
	<integer>219</integer>
	<key>1000_likes</key>
	<integer>399</integer>
	<key>100_followers</key>
	<integer>99</integer>
	<key>200_followers</key>
	<integer>199</integer>
	<key>300_followers</key>
	<integer>299</integer>
	<key>500_followers</key>
	<integer>499</integer>
	<key>1000_followers</key>
	<integer>999</integer>
</dict>
</plist>
