<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>50_likes</key>
	<integer>50</integer>
	<key>100_likes</key>
	<integer>100</integer>
	<key>200_likes</key>
	<integer>200</integer>
	<key>500_likes</key>
	<integer>500</integer>
	<key>1000_likes</key>
	<integer>1000</integer>
	<key>100_followers</key>
	<integer>200</integer>
	<key>200_followers</key>
	<integer>400</integer>
	<key>300_followers</key>
	<integer>600</integer>
	<key>500_followers</key>
	<integer>1000</integer>
	<key>1000_followers</key>
	<integer>2000</integer>
	<key>instalocator_appodeal_enabled</key>
	<false/>
	<key>com.viktorgulin.instaguestspaid</key>
	<true/>
	<key>com.viktorgulin.instaguests</key>
	<false/>
	<key>com.fedorlukin.instaguests</key>
	<false/>
	<key>com.fedorlukin.instaguests2</key>
	<false/>
</dict>
</plist>
